@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            <p>Thanks for registering! Check your email to complete the process.</p>
        </section>
    </div>
</div>